<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}
<div class="container">
<div class="jumbotron">
  <h1>Please Login</h1>
  <form action="{%url 'authapp:user_login'%}" method="post">
    {%csrf_token%}
    <label for="username">Username: </label>
      <input type="text" name="username" placeholder="Write your username">
    <label for="password">Password: </label>
      <input type="password" name="password">
    <button type="button" name="button"><input type="submit" value="SUBMIT"></button>
  </form>
</div>
</div>
{%endblock%}
